<?xml version="1.0"?>

<launch>
  <arg name="layer" default="elevation"/>
  <arg name="input_topic" default="/elevation_mapping/elevation_map"/>
  <arg name="output_topic" default="/hector_grid_map_compression/compressed_map"/>

  <node ns="hector_grid_map_compression" name="server" type="hector_grid_map_compression_server" pkg="hector_grid_map_compression" output="screen">
    <remap from="input" to="$(arg input_topic)"/>
    <remap from="output" to="$(arg output_topic)"/>    
  </node>

  <rosparam ns="hector_grid_map_compression" param="layers" subst_value="true">[$(arg layer)] </rosparam>
</launch>
