<?xml version="1.0"?>

<launch>
  <let name="layer" value="elevation"/>
  <let name="output_topic" value="uncompressed"/>

  <node namespace="hector_grid_map_compression" name="client" exec="hector_grid_map_compression_client" pkg="hector_grid_map_compression" output="screen">
    <remap from="input" to="compressed"/>
    <remap from="output" to="$(var output_topic)"/>
    <!--<param name="layer" value="$(arg layer)"/>-->
  </node>
</launch>
