<?xml version="1.0"?>

<launch>
  <node ns="hector_grid_map_compression" name="client" type="hector_grid_map_compression_client" pkg="hector_grid_map_compression" output="screen">
    <remap from="~/input" to="img"/>
    <remap from="~/output" to="uncompressed"/>
    <remap from="~/map_info" to="map_info"/>
    <param name="~/layer" value="elevation"/>
  </node>
</launch>
